body {
  background-color: #000;
  text-align: center;
}
h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  display: block;
}
.jopa {
  text-align: center;
}
a {
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
}
.nahui {
  text-decoration: none;
  display: inline-block;
  width: 400px;
}
.nahui::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transition: all 0.3s;
}
.nahui::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transition: all 0.3s;
}
.nahui:active {
  border: none;
}
.lg-btn {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}
.lg-btn:hover {
  background-color: #b411bd;
  font-size: 40px;
}
.lg-btn span:hover {
  text-transform: uppercase;
  color: #ff9500;
}
.lg-btn span:active {
  text-transform: none;
  color: #00c3ff;
}
.knopa4ka {
  background-color: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
}
.knopa4ka:active {
  border: none;
}
.img {
  height: 500px;
}
